/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&display=swap');
/* constant definitions */
:root{
    --color-background: #a2ba96; /* muted green */
    --color-background2: #526a46; /* darker green */
    --color-titlebar: #aae; /* #b3b3b3;  grey */
    --color-textbox: #faf9f7; /* brownish off-white */
    --color-text: black;
    --color-highlight: orange; 
    --color-textshadow-light: gainsboro;
    --color-textshadow-dark: Gray;
    --background-logo-size: 25rem;
    --site-title: 'Top of the South Community Shares';
    --site-subtitle: 'Tasman Bay – Motueka to Nelson';
    --svg-link: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><text font-family="system-ui" font-size="0.7rem" text-anchor="middle" x="50%" y="90%">🔗</text></svg>');
}
html{
    height: 100%;
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
}
h0, h1, h2, h3{
    font-family: 'Playfair Display', cursive;
    font-style: normal;
}
h1{
    font-size: 2rem;
    font-style: normal;
    margin: 0;
}
h2{
    font-size: 1.5rem;
}
p{
    font-variant-ligatures: common-ligatures;
    line-height: 1.75rem;
    hyphens: auto;
}
a, div.button,  div.h-menu-item, div.v-menu-item{
    transition-duration: 0.5s;
}
a::before{
    content: "";
    background-color: currentColor;
    color: var(--color-highlight);
    -webkit-mask-image: var(--svg-link);
    mask-image: var(--svg-link);
    display: inline-block;
    width: 1em;
    height: 1em;
}
a, div.button{
    border-bottom: solid 0.2ch var(--color-highlight);
    padding: 0;
}
a:hover{
    background-color: var(--color-background);
    color: white;
    border-top: solid 4px var(--color-background);
}
a:active{
    transition-duration: 0.2s;
    background-color: var(--color-highlight);
}
img.thumbnail{
    max-width: 6rem;
    max-height: 6rem;
}
body{
    height: 100%;
    width: 100%;
    background-image: radial-gradient(at 25% 50%, var(--color-background), var(--color-background2));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-text);
    padding-top: 5rem;
}
body::before{ /* logo in the background; needs transparent body background */
    background-image: url('totscosh-logo.svg');
    background-size: var(--background-logo-size) var(--background-logo-size);
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    content: '';
    display: block;
    overflow: hidden;
    height:  var(--background-logo-size);
    width:  var(--background-logo-size);
    position: fixed;
    bottom: 0;
    right: 0;
    animation: logo-rotation 120s linear infinite;
    overflow: visible;
    z-index: -1;
    opacity: 0.08;
    pointer-events: none;
}
.content{
    background-color: var(--color-textbox);
}
header{
    font-family: 'Playfair Display', cursive;
    background-image: url('handcircle-logo.svg');
    background-size: 3.5rem;
    background-repeat: no-repeat;
    background-position: 0rem 0rem;
    margin: 0;
    padding-right: 1rem;
    width: 100%;
    height: 5.5rem;
    padding-left: 3.5rem;
    color: var(--color-textbox);
    background-color: var(--color-textbox);
    display: block;
    position: fixed;
    left: 0;
    top: 0ch;
    border-bottom: solid 1px var(--color-background);
    z-index:3;
}
header span.title::before{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    color: var(--color-background2);
    content: var(--site-title);
}
header span.subtitle::before{
    display: block;
    margin-top: 0px;
    font-size: 1rem;
    font-style: italic;
    color: black;
    content: 
        var(--site-subtitle);
}
header h1{
    display: none; /* just for screen reader software */
}
div.titleblock{
    padding-left: 3rem;
}
div.top-menu{
    min-width: 50%;
    margin-top: 0.5rem;
    background-color: var(--color-textbox);
    padding: 0;
    margin: 0.5rem;
    text-align: center;
    position: relative;
    font-family: 'Cabin', sans-serif;
}

div.body-container{
    display: flex;
    flex-direction: row;
}

div.main-column{
    flex-grow: 2;
    flex-direction: column;
    float:left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;
    overflow:hidden;
    flex-direction:column;
}

div.item{
    max-width: 50ch;
    margin: auto;
    padding: 1rem;
}
div.main-item{
    background-color: var(--color-textbox);
    margin-top: 1rem;
    height: auto;
    border-radius: 0.5rem;
    clear: left;
}
div.item-title{
    text-align: center;
    padding-top: 3rem;
    font-weight: bolder;
}
div.item-date{
    text-align: center;
    padding: 0rem;
    text-transform:uppercase;
    font-size:0.8em;
}
div.item-text .item-comment{
    text-align: left;
    font-style: italic;
}
div.item-comment::before{
    font-style: italic;
    content: 'Comments: '
}


div.h-menu-item{
    float: left;
    margin: 1 rem;
    padding: 0.25ch;
    background-color: var(--color-textbox);
    display: block;
    color: black;
    width: 6rem;
    text-align: center;
    border-left: solid 1px var(--color-background);
    z-index: 0;
}
div.h-menu-item-last{
    border-right: solid 1px var(--color-background);
}
div.menu-item:hover, div.menu-item-live{
    background-color: var(--color-background2);
    color: var(--color-textbox);
    font-weight: bold;
}

div.side-column{
    flex: none;
    float: right;
    width:13ch;
    margin: 1rem;
}
div.side-menu{
    min-width:9ch;
    position:fixed;
    background-color: var(--color-textbox);
    font-family: 'Cabin', sans-serif;
    padding:1ch; 
    border-radius:0.5em;
    border: solid 1px var(--color-background2);
    overflow-y:auto;
    overflow-x:hidden;
}
div.v-menu-item{
    width: calc(100%-1rem);
    background-color: var(--color-textbox);
    padding: 1ch 0ch 1ch 1ch;
    z-index: 3;
}
div.v-menu-item-last{
    background-color: var(--color-textbox);
    z-index: 3;
}

table{
    align-content: center;
    border-collapse: separate;
    border-spacing: 1rem 2rem;
}
tr{
    vertical-align:top;
}
td, th{
    margin: 6ch; 
    max-width: 40ch;
}
th{
    font-weight: bold;
    border-bottom: solid 2px var(--color-background);
    
}
td:hover{
    text-decoration: underline 0.3ch var(--color-highlight);
}

/* rotation for logo */
@keyframes logo-rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }
  @keyframes logo-zoom {
    from{
        transform: scale(110%);
    }
    to{
        transform: scale(100%);
    }
  }